*{
    box-sizing: border-box;
}

.container{
    width:450px;
    height:640px;
    margin:0 auto;
    border-radius:20px;
    background-color:whitesmoke;
    margin-top:50px;
    border: 1px solid #DCDCDC;
    
}

img{
    margin-left:138px;
    margin-top:76px;
}

.teqsti1{
    padding-left:50px;
    padding-top:37px;
}

.xazi {
    width:330px;
}

p{
    margin-left:60px;
}

a{
    margin-left:335px;
    text-decoration:none;
}